
.MMM-MyTransitTime {
    font-size: 30px;
    color: rgba(255, 253, 219, 0.815);
    padding: 300px 20px 10px 30px;
    text-align: left;
}
.bus-detail {
    font-size: 50px;
    padding: 20px 10px 10px 20px;
}
.wait-detail {
    padding: 100px 20px 10px 30px;
    font-size: 50px;
    color: rgba(247, 183, 89, 0.493);
}